(
    address: "127.0.0.1:6600",
    password: None,
    volume_step: 5,
    scrolloff: 2,
    max_fps: 60,
    wrap_navigation: true,
    theme: None,
    cache_dir: Some("/tmp/rmpc/cache"),
    keybinds: (
        global: {
            "q":       Quit,
            "?":       ShowHelp,
            "u":       Update,
            "U":       Rescan,
            "O":       ShowOutputs,
            "I":       ShowCurrentSongInfo,
            "<C-p>":   ShowDecoders,
            ":":       CommandMode,
            ".":       VolumeUp,
            ",":       VolumeDown,
            "p":       TogglePause,
            "s":       Stop,
            ">":       NextTrack,
            "<":       PreviousTrack,
            "<Right>": NextTab,
            "<Tab>":   NextTab,
            "<Left>":  PreviousTab,
            "<S-Tab>": PreviousTab,
            "1":       SwitchToTab("Queue"),
            "2":       SwitchToTab("Directories"),
            "3":       SwitchToTab("Artists"),
            "4":       SwitchToTab("Album Artists"),
            "5":       SwitchToTab("Albums"),
            "6":       SwitchToTab("Playlists"),
            "7":       SwitchToTab("Search"),
            "z":       ToggleRepeat,
            "x":       ToggleRandom,
            "c":       ToggleSingle,
            "f":       SeekForward,
            "b":       SeekBack,
        },
        navigation: {
            "<S-Up>":      PaneUp,
            "<S-Down>":    PaneDown,
            "<S-H>":       PaneLeft,
            "<S-L>":       PaneRight,
            "<C-u>":       UpHalf,
            "N":           PreviousResult,
            "a":           Add,
            "A":           AddAll,
            "r":           Rename,
            "n":           NextResult,
            "g":           Top,
            "<Space>":     Select,
            "G":           Bottom,
            "h":           Left,
            "<CR>":        Confirm,
            "i":           FocusInput,
            "J":           MoveDown,
            "j":           Down,
            "<C-d>":       DownHalf,
            "/":           EnterSearch,
            "<C-c>":       Close,
            "<Esc>":       Close,
            "K":           MoveUp,
            "l":           Right,
            "D":           Delete,
            "k":           Up,
            "B":           ShowInfo,
        },
        queue: {
            "D":           DeleteAll,
            "<CR>":        Play,
            "<C-s>":       Save,
            "a":           AddToPlaylist,
            "X":           Shuffle,
            "d":           Delete,
        },
    ),
    search: (
        case_sensitive: false,
        mode: Contains,
        tags: [
            (value: "any",         label: "Any Tag"),
            (value: "artist",      label: "Artist"),
            (value: "album",       label: "Album"),
            (value: "albumartist", label: "Album Artist"),
            (value: "title",       label: "Title"),
        ],
    )
)
